/* debut du header laetitia--------------------------------------------------------------------*/
body, header, footer {
  font-family: "Krub", sans-serif;
}

p{
  text-align: center;
}

.margin{
margin-right: 10px;

}
.navbar{
  background-color: #303189;

}

.navbar-light .navbar-nav .nav-link{
    color:#f1d145;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#3385d9;
}

#Apropos{
  height: 30px;
  background-color: #f1d145;
  border-bottom: #303189;
}

.pictopanier{
text-decoration-color: white;
}

.img-fluid{
  text-align: center;

}

.d-block{
margin-left: auto;
margin-right: auto;

}

#carousselimages1 {
  color: black;
  letter-spacing: 1px;
  font-family: fantasy;
  font-size: 20px;
  text-shadow: #FC0 1px 0 10px;
}
#carousselimages2 {
  color: black;
  letter-spacing: 1px;
  font-family: fantasy;
  font-size: 20px;
  text-shadow: 1px 1px 2px blue, 0 0 1em green, 0 0 0.2em pink;

}
#carousselimages3{
  color: white;
  letter-spacing: 1px;
  font-family: fantasy;
  font-size: 20px;
  text-shadow: 1px 1px 2px grey, 0 0 1em green, 0 0 0.2em red;

}


h5 {
  font-family:monospace;
  font-size: 30px;
}

.circle{
   margin:0;
   padding-bottom: 3px;
   width:25px;
   font-weight: bold;
   background:white;
   height:25px;
   text-align:center;
   border-radius:50px;
   position: absolute;
   z-index: 2;

}

/* fin du header laetitia-----------------------------------------------------------------*/
/* Jeffen --------------------------------------------------------------------------------*/
/* remember to define focus styles! */
:focus {/*enlève les pointillés quand il y a focus sur tous les éléments de la page */
outline: 0;
}
/* POPUP */
.modal .modal-dialog .modal-header, .modal .modal-dialog .modal-footer {
  /* background-color: #c9e9ff; */
}
.btn{
  margin-bottom:15px;
}
/* /POPUP */
.shopping-cart{
	/* font-family: 'Montserrat', sans-serif; */
}
.scrollYClass {/*Scrollbar du panier */
  height:322px;
  overflow-y: scroll;
}
.shopping-cart .content{
	background-color: white;
}
.shopping-cart .items{
	margin: auto;
}
#infoEmptyCart{
  font-size: 1.5rem;
}
#productImage{
  padding-top: 2rem;
	width: 4rem;
	height: auto;
}
#quantified{
	color: #007bff;
}
#deleteProduct{
  color: red;
  text-align: center;
  border: none;
  font-size: 16px;
  background-color: white;
  height:20px;
}
#main, #deleteProduct:hover{
  cursor:pointer;
}
.form-inline, #main{
  margin-left: 30px;
}
.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.shopping-cart .items .product .info{
	padding-top: 0;
	text-align: center;
}
.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}
.shopping-cart .items .product .info .product-name .product-info{
	font-size: 18px;
	margin-top: 15px;
}
.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}
.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}
.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }
.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}
.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}
.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}
.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}
.shopping-cart .summary button{
	margin-top: 20px;
}
@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left;
	}
	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 16px;
		top: 17px;
	}
	.shopping-cart .items .product .info .quantity {
		text-align: center;
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center;
	}
}
/* /Jeffen ----------------------------------------------------------------------*/
/* début jonathan----------------------------------------------------------------*/
/* catalogue Jonjon*/
#catalog{
  background-color: white;
  padding: 10px;
  margin-top: 80px;
}
/* dédut * PRODUITS * Jonathan */
.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	border: 1px solid #f1d145;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	border: 1px solid #303189;
	box-shadow: inset 0 2px #303189;
	border-bottom: none;
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #303189;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #f1d145;
	display: block;
	font-size: 1.45em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #3385d9;
}

.tabs nav li.tab-current a {
	color: #303189;
}

/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

/* Content */
.content section {
	font-size: 1em;
	padding: 3em 1em;
	display: none;
	max-width: 1230px;
	margin: 0 auto;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #303189;
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px;
  }

.mediabox img {
	width: 75%;
  height: 75%;
	display: block;
	margin: 0 auto;
}

#baguette, #phoenix, #eternite, #demon, #invisible{
  margin-bottom: 50px;
}
.mediabox h3 {
	margin: 0.75em 0 0.5em;
  text-align: center;
  color: #303189;
}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
  text-align: center;
}

.modal-content img{
width: 45%;
height: 45%;
margin-bottom: 25px;
}

.attention{
  text-align: center;;
  margin-bottom: 2em;
}

.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #303189;
  color: #f1d145;
}

button:hover{
  background: #3385d9;
}

input, .radio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
}
#chat, #chauvesouris, #rat, #dragon{
  margin-bottom: 2px;
}

.picto{
  margin-right: 15px;
  width: 30px;
}

/* Example media queries */

@media screen and (max-width: 52.375em) {
	.title {
		display: none;
	}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 35px 0;
		font-size: 90%;
	}

	.mediabox img {
		float: left;
		margin: 0 25px 10px 0;
		max-width: 40%;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
}

@media screen and (max-width: 32em) {
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: 20%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
	}

	.mediabox p {
		margin: 0;
	}
}
/* fin * PRODUITS * Jonathan */
/* fin jonathan----------------------------------------------------------------- */
/* début css Yacine------------------------------------------------------------- */
/* fleche retour haut de page */
#lientop{
margin-left: auto;
}

#flechetop{

  color : #303189;
  font-size: 3rem;

    position: fixed;
    bottom: 0;
    right: 11px;
    z-index: 300;
    border : solid;
    background-color: #f1d145;
    border-radius: 30px ;
}

#flechetop:hover{
  color: #f1d145;
  border : solid;
  background-color: #303189;
  border-radius: 30px ;

}

/*css footer*/
/* Footer */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    border-top: 3px solid #f1d145;
    border-bottom: 3px solid #f1d145;
    background-size: cover;
    background-color: #303189;
}
#footer h5{
	  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#f1d145;
    font-weight: bold;

}
#footer a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #f1d145;
}
#footer ul.social li{
	padding: 3px 0;
  color: #f1d145;
}
#footer ul.social li a i {
  margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
  color: #f1d145;

}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;


}
#footer ul.social li a,
#footer ul.quick-links li a{
  color: #ffff;

}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
  color: #f1d145;


}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;

}
#footer ul.quick-links li a i{
	margin-right: 5px;
  color: #f1d145;



}
#footer ul.quick-links li:hover a i {
    font-weight: 700;


}
.spaceFooter{
  padding: 1rem;
}

.logo2{
  width: 75%;
  height: 75%;
}

.logo23{
  width: 300px;
  height: 100px;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
   }
  .hide-info {
    display: none;
   }
  .logo23, .logo2{
    width: 70%;
    height: 70%;
  }
}

/* fin css footer */
/* fin css Yacine------------------------------------------------------------------- */
