/* debut du header */

.navbar{
  background-color: #303189;

}

.navbar-light .navbar-nav .nav-link{
    color:#f1d145;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#3385d9;
}

#Apropos{
  height: 30px;
  background-color: #f1d145;
  border-bottom: #303189;
}

.header{
  margin-left: 330px;
}
.header1{
  margin-left: 30px;

}

#panier {
  margin-left: 20px;
  position: absolute;
  z-index: 1;

}

.circle{
    margin:10px;
    width:100px;
    background:#3385d9;
    height:100px;
    text-align:center;
    'moz'border-radius:100px;
    position: absolute;
    z-index: 2;
    line-height: 90px; /* 100 - 10 */
}

/* fin du header laetitia */
